@reference "tailwindcss";

.rescuer-news-container {
	@apply fixed top-[18vh] left-0 w-full h-[72vh] p-6 flex flex-col gap-5 md:flex-row md:gap-5;
}

.top-part {
	@apply md:w-[50%] flex flex-col gap-5 md:justify-center;
}

.news-monitoring {
	@apply min-h-[50%] md:w-[50%];
}

.hourly-forecast,
.news-monitoring {
	@apply flex flex-col gap-2;
}

.forecast-container {
	@apply w-screen flex gap-4 overflow-x-auto pr-14;
}

.monitoring-container {
	@apply flex flex-col gap-4 overflow-auto pb-14;
}
