@reference "tailwindcss";

.logs-card {
	@apply flex flex-col p-3 font-sans text-[14px] bg-[var(--color-gray)] gap-4 rounded-lg shadow-md;
}

.card-top {
	@apply flex justify-between;
}

.logs-date {
	@apply w-[50%] flex flex-col gap-1;
}

.logs-time,
.logs-status {
	@apply w-[25%] flex flex-col gap-1;
}

p {
	@apply font-semibold;
}

.card-bottom {
	@apply w-full flex justify-between;
}

.logs-address {
	@apply w-[90%];
}
