@reference "tailwindcss";

.resident-logs-container {
	@apply font-sans fixed top-[18vh] left-0 w-full h-[72vh] p-6 flex flex-col gap-4;
}

.resident-logs-header {
	@apply w-full flex justify-between;
}

.resident-logs-header .filter {
	@apply flex gap-2;
}

.logs {
	@apply w-full h-[65vh] flex flex-col gap-4 items-center pb-24 overflow-y-auto;
}
