@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';
@tailwind utilities;

:root {
	--color-main: #1976d2;
	--color-white: #fafafa;
	--color-black: #212121;
	--color-highlight: #ffb300;
	--color-red: #b71c1c;
	--color-yellow: #ffb300;
	--color-green: #388e3c;
	--color-gray: #e0e0e0;
}

/* === Rescuer Theme === */
[data-theme='rescuer'] {
	--color-main: #1976d2;
	--color-white: #fafafa;
	--color-black: #212121;
	--color-highlight: #ffb300;
	--color-red: #b71c1c;
	--color-yellow: #ffb300;
	--color-green: #388e3c;
	--color-gray: #e0e0e0;
}

/* === Resident Theme === */
[data-theme='resident'] {
	--color-main: #b71c1c;
	--color-white: #fafafa;
	--color-black: #212121;
	--color-highlight: #ffb300;
	--color-red: #b71c1c;
	--color-yellow: #ffb300;
	--color-green: #388e3c;
	--color-gray: #e0e0e0;
}

@theme inline {
	--font-sans: 'Plus Jakarta Sans', sans-serif;
}

html,
body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-style: normal;
}

.input {
	@apply border border-gray-300 rounded-lg px-4 py-2 w-full 
         focus:outline-none focus:ring-2 focus:ring-blue-500;
}
