@import 'tailwindcss';
@tailwind utilities;

:root {
	--color-main: #1976d2;
	--color-white: #fafafa;
	--color-black: #212121;
	--color-highlight: #ffb300;
	--color-red: #b71c1c;
	--color-yellow: #ffb300;
	--color-green: #388e3c;
	--color-gray: #e0e0e0;
}

/* === Rescuer Theme === */
[data-theme='rescuer'] {
	--color-main: #1976d2;
	--color-white: #fafafa;
	--color-black: #212121;
	--color-highlight: #ffb300;
	--color-red: #b71c1c;
	--color-yellow: #ffb300;
	--color-green: #388e3c;
	--color-gray: #e0e0e0;
}

/* === Resident Theme === */
[data-theme='resident'] {
	--color-main: #b71c1c;
	--color-white: #fafafa;
	--color-black: #212121;
	--color-highlight: #ffb300;
	--color-red: #b71c1c;
	--color-yellow: #ffb300;
	--color-green: #388e3c;
	--color-gray: #e0e0e0;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: 'Plus Jakarta Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #fafafa;
		--foreground: #212121;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Plus Jakarta Sans', sans-serif;
}
